# N16R8 + dual OTA — voice_hub（OV2640 + ST7789 240×135 + 1-bit SDMMC）
CONFIG_IDF_TARGET="esp32s3"
CONFIG_IDF_TARGET_ESP32S3=y

CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="16MB"

CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="../flash_partition/partitions_16m_n16r8.csv"

# BoardInit 在 app_main 栈上；Web/Wi-Fi 在 web_boot 任务（与 project 一致）。
CONFIG_ESP_MAIN_TASK_STACK_SIZE=12288

# N16R8 OPI PSRAM（8MB）
CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_SPIRAM_TYPE_AUTO=y
CONFIG_SPIRAM_SPEED_40M=y
CONFIG_SPIRAM_USE_MALLOC=y
CONFIG_SPIRAM_TRY_ALLOCATE_WIFI_LWIP=y
CONFIG_SPIRAM_MALLOC_ALWAYSINTERNAL=16384

CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_240=y
CONFIG_COMPILER_OPTIMIZATION_PERF=y

CONFIG_WEB_CTRL_AUTO_START=y

CONFIG_BOOTLOADER_APP_ROLLBACK_ENABLE=y
CONFIG_OTA_HTTPS_PULL=y
CONFIG_WEB_CTRL_OTA=y
CONFIG_WEB_CTRL_OTA_UPLOAD_MAX=8388608
CONFIG_WEB_CTRL_OTA_CLOUD_PULL=y
CONFIG_WEB_CTRL_OTA_DEFAULT_PRODUCT="voice_hub"

# OV2640 DVP（esp_cam_sensor）
CONFIG_CAMERA_OV2640=y
CONFIG_CAMERA_OV2640_AUTO_DETECT_DVP_INTERFACE_SENSOR=y
CONFIG_CAMERA_OV2640_DVP_RGB565_BE_240X240_25FPS=y
CONFIG_CAMERA_OV2640_DVP_DEFAULT_FMT_RGB565_BE_240X240_25FPS=y
CONFIG_ESP_CAM_SENSOR_PIXFORMAT_RGB565_BE=y
